
<p *ngIf="!status else displayData"> Fetchig data From the Server......</p>
<ng-template #displayData>
    <table class="table">
        <tr>
            <th>Course Title</th>
            <th>Course Desc</th>
            <th>Course Duration </th>
            <th>Course Venue</th>
            <th>Date</th>
        </tr>
        <tr *ngFor="let data of myData">
            <td>
                {{data.courseTitle}}
            </td>
            <td>
                {{data.courseDescription}}
            </td>
            <td>
                {{data.courseDuration}}
            </td>
            <td>
                {{data.courseVenue}}
            </td>
            <td>
                {{data.courseDate}}
            </td>
    
        </tr>
    </table>
    
</ng-template>
